☢️Бункер - игра, которая поможет Вам развить навыки красноречия, 
приятно и весело провести время с Вашими коллегами. 
<br><br>
☣️Существует несколько режимов игры: базовый и история выживания, а также несколько целей: 
спасение или возрождение. Режим и цель игры могут комбинироваться.
<br><br>
🛎Ведущий раздает всем игрокам карточки следующих категорий:
<br><br>
🔘 1. Профессия<br>
🔘 2. Здоровье<br>
🔘 3. Биологические характеристики<br>
🔘 4. Хобби<br>
🔘 5. Багаж<br>
🔘 6. Факт о Вас<br>
🔘 7. Карточка особого условия<br>
<br>
Каждый игрок иx внимательно изучает.<br>
После раздачи карт выкладывается карта катастрофы и зачитывается всем. 
Также выкладывается 5 карт бункера рубашкой вверх. Игра играется 5 раундов. 
В начале каждого раунда открывается 1 карта бункера, 
затем игрок вскрывает свою карту персонажа и аргументирует, почему именно он должен остаться. 
В первом раунде вскрывается только карта профессии. После открытия карт, в зависимости от раунда и количества игроков, 
происходит голосование. После голосования игру покидает 1 игрок, и начинается новый раунд.