💰CashFlow – игра, которая познакомит Вас с основными понятиями финансовой грамонтности, научит распоряжаться Вашими финансами, поможет Вам сплотиться с другими игроками для достижения Вашиx мечт. 
<br><br>
💎В начале игры Вам предстоит выбрать профессию. Она может быть любой, от уборщика до пилота авиалиний. 
<br><br>
📝На каждой карточке есть информация, которую Вам необходимо перенести на бланк, главной из которых является Ваш общий доход/расход и месячный денежный доход. 
<br><br>
🔍Пассивный доход у всех в начале игры равен 0.
<br><br>
🏆 Ведущий Вам поможет. 
<br><br>
🥇Вам необходимо сделать так, чтобы Ваш пассивный доxод был больше, чем общий расxод.
<br><br>
🎲Всё в Ваших руках🎲