<b>Мафия</b><br>
<br>
Мафии необходимо каждую ночью просыпаться, и совершать похищение граждан, 
а утром делать вид, что они тоже являются мирными жителями, при этом не забывая о 
своей цели - остаться в равном количестве с мирными жителями