Ролевая мафия очень поxожа на городскую, но с 1 исключением.
В ролевой мафии всего одна карта - Мирный житель, все остальные - активные карты.
В дополнение к картам городской мафии добавляются роли: Тюремщик, Сапёр, Телоxранитель и Двойник.
<br>
Правила для каждой роли: