Основные роли в любом виде мафии неизменны - это мафия и мирные жители. 
Мафии необходимо ночью просыпаться, и совершать похищение граждан,
а утром делать вид, что они тоже являются мирными жителями, при этом не забывая о своей цели - 
остаться в равном количестве с мирными жителями.
Мирные жители напротив, пытаются соxранить порядок и правосудие в городе, 
поэтому всеми своими силами они пытаются найти мафию.