Здравствуйте 🫰 <br>
<br>
🥇Завтра {{ event_date }} игра {{ event_type }} в {{ event_time }} по адресу {{ event.place }}.<br>
<br>
🎖 Это так прекрасно, что вы помните о нашей встрече. 😎<br>
<br>
Буду  ждать! 🕵️‍♂️<br>
Ваш секретарь "Тони".   💌<br>
<br>
Увидимся на игре. 🪄