Команды бота:<br>
/start - приветственное сообщение<br>
/info - информация о нашем клубе<br>
/help - список доступных команд<br>
/profile - посмотреть свой профиль<br>
/events - посмотреть список мероприятий<br>
/rules - правила игры<br>
/top - список топ-игроков<br>
/regevent - создание нового мероприятия<br>