<b>WRM</b> - это клуб настольных и интеллектуальных игр, 
который позаботится о Вашем позитивном настроении и интересном времяпрепровождении<br>
<br>
Наша команда:<br>
<br>
Организаторы: Рони и Жнец 🚨<br>
Те, благодаря кому мы все тут ☝️<br>
<br>
Ведущие: Рони, Жнец, Лира.<br>
Люди задающие атмосферу наших с Вами вечеров 💯<br>
<br>
Аналитик и финансист: Александр Анатольевич.<br>
Определенно один из самых серьезных людей в нашей family 🔝<br>
<br>
Бухгалтер: Марина Кузьминична.<br>
Держит банк 😄💸💰<br>
<br>
Менеджер Smm: Тори.<br>
Женщина загадка 😆<br>
<br>
Дизайнер иллюстратор: Анастасия.<br>
Мастер на все руки 🌟<br>
<br>
Юрист: Аркадий Николаевич.<br>
Один из самых принципиальных и справедливый людей 🔥<br>