<b>WRM</b> - это клуб настольных и интеллектуальных игр, 
который позаботится о Вашем позитивном настроении и интересном времяпрепровождении.
<br><br>
Наша команда:
<br><br>
Владелец: Рони 👼<br>
По всем вопросам связывайтесь напрямую.<br>
<br>
Управляющая : Малина.<br>
Ответственная и отзывчивая.
Ответит на все вопросы и поможет узнать вам ваш рейтинг.<br>
<br>
Ведущие: Рони, Малина, Фаер, Омсквич, Жена миллиардера, Дьябло, Дьюс и Батыр.<br>
Люди задающие атмосферу наших с Вами вечеров 💯<br>
<br>
Правая рука, аналитик и финансист: Александр Анатольевич.<br>
Определенно один из самых серьезных людей в нашей family 🔝<br>
<br>
Психолог и комьюнити: Светлана - Психологиня <br>
<br>
Бухгалтер: Марина Кузьминична.<br>
Держит банк 😄💸💰<br>
<br>
Дизайнер иллюстратор: Анастасия <br>
Мастер на все руки 🌟<br>
<br>
Консультант по рекламе и продвижению: Артём - Мирный водитель. <br>
Честный, прямолинейный и очень добрый. 😊<br>
<br>
Менеджер по выездной мафии: Дмитрий - Талиб 🤠 <br>
<br>
Юрист: Аркадий Николаевич.<br>
Один из самых принципиальных и справедливый людей 🔥<br>
<br>
Улучшает и совершенствует нашего бота "Тони":<br>
Роман - Слепое величество 🤴<br>
<br>
Контакты для связи: Вероника <br>
<code>+79154087420</code> <br>
