<b>WRM</b> - это клуб настольных и интеллектуальных игр, 
который позаботится о Вашем позитивном настроении и интересном времяпрепровождении<br>
<br>
Наша команда:<br>
<br>
Организаторы: Рони и Жнец. Те, благодаря кому мы все тут.<br>
Ведущие: Рони, Жнец, Лира. Люди задающие атмосферу наших с Вами вечеров.<br>
Аналитик и финансист: Александр Анатольевич. 
Определенно один из самых серьезных людей в нашей family<br>
Бухгалтер: Марина Кузьминична. Держит банк.<br>
Менеджер Smm: Тори. Женщина загадка.<br>
Дизайнер иллюстратор: Анастасия. Мастер на все руки.<br>
Юрист: Аркадий Николаевич. Один из самых принципиальных и справедливый людей.<br>
