{% if isSignedUp %}
Вы отменили запись
{% else %}
Вы записались на игру 🥰Команда WRM-GAME рада вашему выбору. ❤️ <br>
Я внёс дату нашей с Вами встречи. За день до мероприятия напомню о игре. 🥰<br>
Хотите узнать о правилах игр в мафию и посмотреть на наши карты,
а также узнать правила других настольных игр? /rules<br>
{% endif %}