Приветствую!<br>
<br>
Я персональный помощник клуба <b>WRM</b>.
Моя задача - предложить вам лучший отдых в самой приятной компании<br>
<br>
Давайте познакомимся поближе. Вы расскажете о себе? 
Или сперва вы хотите больше узнать о нас?<br>
<br>
/reg - регистрация<br>
/info - информация о клубе<br>
/help - список доступных команд <br>
/rules - правила игры в мафию