Добро пожаловать!<br>
<br>
Это неповторимый и оригинальный клуб по мафии.<br>
<br>
Хочешь быть одним из нас? Или просто смотришь?<br>
<br>
/reg - регистрация<br>
/info - открытая информация о нас<br>
/help - список доступных команд