Приветствую! <br>
<br>
Я персональный помощник клуба WRM. Меня зовут "Добряш". Моя задача - предложить вам лучший отдых в самой приятной компании с профессиональными ведущими. <br>
<br>
Давайте познакомимся поближе. Вы расскажите о себе? Или хотите больше узнать о нас?<br>
<br>
/reg - регистрация<br>
/info - информация о клубе <br>
/help - список доступных команд <br>
/rules - правила игры в мафию