<b>Игрок</b><br><br>
Имя: {{ user.name }}<br>
Игровое имя: {{ user.nickname }}<br>
Город: {{ user.city }}<br>
<br>
Статистика за месяц:<br>
Баллы: {{ month['total_score'] }} <br>
Сыграно игр: {{ month['event_count'] }} <br>
Побед: {{ month['win_count'] }} <br>
Процент побед: {{ month['win_rate'] }}%<br>
<br>
Статистика за сезон:<br>
Баллы: {{ three_month['total_score'] }} <br>
Сыграно игр: {{ three_month['event_count'] }} <br>
Побед: {{ three_month['win_count'] }} <br>
Процент побед: {{ three_month['win_rate'] }}%<br>