Как скажете, всегда уважал людей, которые не раскрывают всеx карт сразу.
И последняя просьба, если Вам не сложно, нам надо обсудить один вопрос с глазу на глаз, 
но я не знаю, как Вы выглядите, можете показать любую Вашу фотографию?
Если вы пока не готовы - нажмите /skip