Введите пользователя, который будет ведущим (он должен быть зарегестрированным в боте)<br>
Формат ввода: поделиться контактом телеграма (можно написать @telegramnick, затем нажать на эту ссылку и поделиться контактом)